/* fonts */

@font-face {
  font-family: "GilroyExtraBold";
  src: url("gilroyextrabold.otf");
}

@font-face {
  font-family: "GilroyLight";
  src: url("gilroylight.otf");
}

/* html elements */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--white2);
}

h1, h2, h3, h4 {
  font-family: "GilroyExtraBold";
}

h1 {
  font-size: 40px;
}

p, li, a {
  font-family: "GilroyLight";
}

p {
  margin: 20px 5px 10px 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--cnyellow);
}

/* colours */

:root {
  --black: rgb(0, 0, 0);
  --blacktransparent: rgb(20, 20, 20,0.7);
  --cnblue: rgb(19, 60, 141);
  --cnlightblue: rgb(25, 154, 247);
  --cnyellow: rgb(245, 179, 47);
  --cngrey: rgb(68, 68, 68);
  --cngreytitle: rgb(44, 44, 44);
  --cngreylinks: rgb(68, 68, 68);
  --cngreyheader: rgb(68, 68, 68);
  --cngreytransparent: rgb(205, 204, 204, 0.5);
  --cnlightgrey: rgb(205, 204, 204);
  --white: rgb(255, 255, 255);
  --white2: rgb(255, 255, 255)
}

.dark {
  --black: rgb(255, 255, 255);
  --white2: rgb(20, 20, 20);
  --cngreylinks: rgb(25, 154, 247);
  --cngreyheader: rgb(245, 179, 47);
  --cngrey: rgb(19, 60, 141);
  --cnlightgrey: rgb(25, 154, 247);
}

.themeSwitch {
  width: 30px;
  height: 30px;
  background: var(--cngreylinks);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeSwitch::before
{
  content: '\f186';
  font-family: fontAwesome;
  color: var(--white);
  font-size: 20px;
}

.themeSwitch.active:before
{
  content: '\f185';
}

/* nav */

.socialbar {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socialbar ul {
  margin-top: 0%;
  margin-bottom: 0px;
}

.socialbar li {
  list-style: none;
}

.socialbar li .fa {
  color: var(--cngreylinks);
  font-size: 1.4em;
}

.socialbar li a :hover {
  color: var(--cnyellow);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    135deg, var(--cngrey) 0%, var(--cnlightgrey) 100%);
  width: 100%;
  height: 45px;
  font-size: 20px;
}

/* logo */

#logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#logoimage {
  width: 30%;
}

/* banner */

.banner {
  display: flex;
  background: linear-gradient(
    135deg, var(--cnblue) 0%, var(--cnlightblue) 100%);
  background-size: cover;
  min-height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bannertext {
  color: var(--white);
  font-size: 50px;
}

/* options section 1 */

.options {
  display: flex;
  justify-content: space-between;
}
/* This is for each of the 3 boxes */

.optionstext {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 37px;
  background-color: var(--cngreytitle);
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
/* This is for the headings of each "option" */

.optionslist {
  display: flex;
  justify-content: center;
  color: var(--cnyellow);
  background-color: var(--blacktransparent);
  width: 100%;
  height: 100%;
  text-align: center;
}
/* This is for the content within each option */

.optionmain {
  display: flex;
  width: 33%;
  min-height: 300px;
  flex-direction: column;
  font-size: 25px;
}
/* The code for each option section */

.optionslist ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.optionslist ul p {
  margin-top: 0px;
}

.optionslist ul li {
  margin: 5px 0px 20px 0px;
  font-weight: 700;
}

.optionslist ul li a {
  color: var(--cnyellow);
}

.optionslist ul li a:hover {
  color: var(--white);
}

/* options section 1 */

.option1 {
  background-image: url("images/projects.jpg");
  background-size: cover;
}

.option2 {
  background-image: url("images/networking.jpg");
  background-size: cover;
}

.option3 {
  background-image: url("images/learning.jpg");
  background-size: cover;
}

/* options section 2 */

.option4 {
  background-image: url("images/projects2.jpg");
  background-size: cover;
}

.option5 {
  background-image: url("images/projects3.jpg");
  background-size: cover;
}

.option6 {
  background-image: url("images/projects4.jpg");
  background-size: cover;
}

/* options section 3 */

.option7 {
  background-image: url("images/portal.jpg");
  background-size: cover;
}

.option8 {
  background-image: url("images/linkedin.jpg");
  background-size: cover;
}

.option9 {
  background-image: url("images/github.jpg");
  background-size: cover;
}

/* options section 4 */

.option10 {
  background-image: url("images/course1.jpg");
  background-size: cover;
}

.option11 {
  background-image: url("images/course2.jpg");
  background-size: cover;
}

.option12 {
  background-image: url("images/course3.jpg");
  background-size: cover;
}

/* options section 5 */

.option13 {
  background-image: url("images/codenation1.jpg");
  background-size: cover;
}

.option14 {
  background-image: url("images/codenation8.jpg");
  background-size: cover;
}

.option15 {
  background-image: url("images/codenation3.jpg");
  background-size: cover;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    135deg, var(--cngrey) 0%, var(--cnlightgrey) 100%);
  color: white;
  width: 100vw;
  height: 40px;
}

footer a {
  margin-right: 15px;
}

.footerlinks {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerlinks ul {
  padding-inline-start: 0px;
}

.footerlinks li {
  list-style: none;
  padding-left: 10px;
}

.footerlinks li a {
  margin-right: 10px;
}

.footerlinks li a .fa {
  font-size: 1.2em;
}

/* other */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--black);
}

.center ul {
  text-align: left;
}

.center h1 {
  color: var(--cngreyheader);
}

.logo2 {
  display: none;
}

.sci2 {
  display: none;
}

/* media queries */

@media all and (max-width: 970px){

  .bannertext {
    text-align: center;
  }

  /* options */

  .options {
    display: flex;
    flex-direction: column;
  }

  .optionmain {
    width: 100%;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .optionstext {
    font-size: 40px;
  }

  /* footer */

  footer {
    font-size: 25px;
}

  /* other */

  .center {
    margin-left: 10px;
    margin-right: 10px;
  }

  .center ul {
    padding-inline-start: 20px;
  }
}

@media all and (max-width: 500px){

  /* banner */

  .bannertext {
    font-size: 40px;
    text-align: center;
  }

  /* options */

  .options {
    display: flex;
    flex-direction: column;
  }

  .optionmain {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }

/* footer */

  footer {
    font-size: 20px;
}

  /* other */

  .center {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .center ul {
    padding-inline-start: 20px;
  }
}
