/* fonts */

@font-face {
  font-family: "GilroyExtraBold";
  src: url("gilroyextrabold.otf");
}

@font-face {
  font-family: "GilroyLight";
  src: url("gilroylight.otf");
}

/* html elements */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: "GilroyExtraBold";
}

h1 {
  font-size: 40px;
}

p, li, a {
  font-family: "GilroyLight";
}

p {
  margin: 20px 5px 10px 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(245, 179, 47);
}

/* logo */

#logo {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

#logoimage {
  width: 95%;
}

/* nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    135deg, rgb(68, 68, 68) 0%, rgb(205, 204, 204) 100%);
  width: 100vw;
  height: 45px;
  font-size: 20px;
}

/* banner */

.banner {
  display: flex;
  background: linear-gradient(
    135deg, rgb(19, 60, 141) 0%, rgb(25, 154, 247) 100%);
  background-size: cover;
  min-height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.bannertext {
  color: white;
  font-size: 50px;
}

/* options section 1 */

.options {
  display: flex;
  justify-content: space-between;
}
/* This is for each of the 3 boxes */

.optionstext {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 37px;
  background-color: rgb(20, 20, 20,0.7);
  margin: 15px 0px 15px 0px;
  width: 100%;
}
/* This is for the headings of each "option" */

.optionslist {
  display: flex;
  justify-content: center;
  color: white;
  background: linear-gradient(
    180deg, rgb(20, 20, 20, 0.7) 0%, rgb(205, 204, 204, 0.5) 100%);
  width: 100%;
  height: 100%;
}
/* This is for the content within each option */

.optionmain {
  display: flex;
  width: 33%;
  min-height: 300px;
  flex-direction: column;
  font-size: 25px;
}
/* The code for each option section */

.optionslist ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.optionslist ul li {
  margin: 5px 0px 20px 0px;
  font-weight: 700;
}

.optionslist a {
  margin: 0px 0px 0px 5px;
}

/* options section 1 */

.option1 {
  background-image: url("images/projects.jpg");
  background-size: cover;
}

.option2 {
  background-image: url("images/networking.jpg");
  background-size: cover;
}

.option3 {
  background-image: url("images/learning.jpg");
  background-size: cover;
}

/* options section 2 */

.option4 {
  background-image: url("images/projects2.jpg");
  background-size: cover;
}

.option5 {
  background-image: url("images/projects3.jpg");
  background-size: cover;
}

.option6 {
  background-image: url("images/projects4.jpg");
  background-size: cover;
}

/* options section 3 */

.option7 {
  background-image: url("images/portal.jpg");
  background-size: cover;
}

.option8 {
  background-image: url("images/linkedin.jpg");
  background-size: cover;
}

.option9 {
  background-image: url("images/github.jpg");
  background-size: cover;
}

/* options section 4 */

.option10 {
  background-image: url("images/course1.jpg");
  background-size: cover;
}

.option11 {
  background-image: url("images/course2.jpg");
  background-size: cover;
}

.option12 {
  background-image: url("images/course3.jpg");
  background-size: cover;
}

/* options section 5 */

.option13 {
  background-image: url("images/codenation1.jpg");
  background-size: cover;
}

.option14 {
  background-image: url("images/codenation8.jpg");
  background-size: cover;
}

.option15 {
  background-image: url("images/codenation3.jpg");
  background-size: cover;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    135deg, rgb(68, 68, 68) 0%, rgb(205, 204, 204) 100%);
  color: white;
  width: 100vw;
  height: 40px;
}

footer a {
  margin-right: 15px;
}

.footerlinks {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerlinks ul {
  padding-inline-start: 0px;
}

.footerlinks li {
  list-style: none;
  padding-left: 10px;
}

.footerlinks li a {
  display: inline-block;
  margin-right: 10px;
}

/* other */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin: 0px 20px 0px 20px;
}

.center h1 {
  color: rgb(68, 68, 68);
}

.logo2 {
  display: none;
}

.sci2 {
  display: none;
}

/* media queries */

@media all and (max-width: 970px){

  .bannertext {
    text-align: center;
  }

  /* options */

  .options {
    display: flex;
    flex-direction: column;
  }

  .optionmain {
    width: 100%;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .optionslist {
    justify-content: flex-start;
  }

  .optionstext {
    font-size: 40px;
  }

  /* footer */

  footer {
    font-size: 25px;
}

  /* other */

  .center {
    margin: 0px 10px 0px 10px;
  }

  .center ul {
    padding-inline-start: 20px;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    width: 80vw;
  }
}

@media all and (max-width: 500px){

  /* banner */

  .bannertext {
    font-size: 40px;
    text-align: center;
  }

  /* options */

  .options {
    display: flex;
    flex-direction: column;
  }

  .optionmain {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }

/* footer */

  footer {
    font-size: 20px;
}

  /* other */

  .center {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
  }

  .center ul {
    padding-inline-start: 20px;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    width: 80vw;
  }
}